html, body {
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
    font-size: 13px;
}

.app-container {
    width: 700px;
    max-height: 640px;
    overflow-y: hidden;
}

.page-content {
    position: relative;
    max-height: 487px;
    min-height: 300px;
    overflow-y: auto;
    box-sizing: content-box;
}

.header-links, .footer {
    display: flex;
    background-color: #017DC0;
    height: 35px;
    justify-content: space-between;
    align-items: center;
}

.font-new {
    font-size: 19px !important;
}

.footer {
    height: 35px;
    overflow-y: hidden;
}

.social-media-links a {
    padding: 5px 10px;
    background-color: #ffffff;
    color: #017DC0;
    border-radius: 2px;
    margin-left: 5px;
}

.demo a {
    color: #e2932b;
    padding: 12px;
    font-weight: 500;
    text-decoration: none;
}

.other-links a {
    color: #ffffff;
    padding: 12px;
    font-weight: 500;
}

.nav-links {
    display: flex;
    background-color: #017DC0;
    height: 35px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #017DC0;
}

.nav-links a {
    flex: 1;
    color: #BDFFCB;
    font-weight: 500;
    text-align: center;
    border-right: 1px solid #BDFFCB;
}

.nav-links a.active {
    color: white;
}

.nav-links a:hover {
    color: #fd5c66 /*#82AE30*/ ;
    background-color: #f0eded
}

.nodecoration {
    text-decoration: none;
}

.nav-links a:last-child {
    border-right: none;
}

.min-width-max-content {
    min-width: max-content;
}

.centered-flexbox {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.d-flex-grow {
    flex-grow: 1 !important;
}

.template-links {
    width: 200px;
    color: #017DC0;
}

label[for="excel-upload"] span {
    color: #017DC0;
    cursor: pointer;
    /* border-bottom: 1px solid #017DC0;
    padding-bottom: 3px; */
}

.lcslt-shown {
    min-width: fit-content !important;
}

.lcslt-shown ul {
    padding: 0px;
}

.section-heading-underline {
    border-bottom: 1px solid #017DC0;
}
textarea{
    font-size: 14px;
}

textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, [type=text].form-control:focus, [type=password].form-control:focus, [type=email].form-control:focus, [type=tel].form-control:focus, [contenteditable].form-control:focus, button, .btn {
    box-shadow: inset 0 0px 0 #ddd;
    outline: none !important;
}

@font-face {
    font-family: "premium";
    src: url("fonts/premium.eot");
    src: url("fonts/premium.eot?#iefix") format("embedded-opentype"), url("fonts/premium.woff") format("woff"), url("fonts/premium.ttf") format("truetype"), url("fonts/premium.svg#premium") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    content: attr(data-icon);
    font-family: "premium" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "premium" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add-template:before {
    content: "\61";
}

.icon-angle-right:before {
    content: "\62";
}

.icon-bin:before {
    content: "\63";
}

.icon-check:before {
    content: "\65";
}

.icon-close:before {
    content: "\66";
}

.icon-download:before {
    content: "\67";
}

.icon-edit:before {
    content: "\68";
}

.icon-edit-2:before {
    content: "\69";
}

.icon-eye:before {
    content: "\6b";
}

.icon-eye-off:before {
    content: "\6c";
}

.icon-file-excel-o:before {
    content: "\6a";
}

.icon-filter:before {
    content: "\6d";
}

.icon-message:before {
    content: "\6f";
}

.icon-pause:before {
    content: "\70";
}

.icon-play:before {
    content: "\71";
}

.icon-plus:before {
    content: "\6e";
}

.icon-question-o:before {
    content: "\72";
}

.icon-save:before {
    content: "\73";
}

.icon-settings:before {
    content: "\74";
}

.icon-search:before {
    content: "\75";
}

.icon-alert-triangle:before {
    content: "\76";
}

.icon-spinner:before {
    content: "\64";
}

.icon-stop:before {
    content: "\77";
}

.icon-upload:before {
    content: "\7a";
}

.icon-user:before {
    content: "\41";
}

.icon-alert-octagon:before {
    content: "\42";
}

.icon-pie-chart:before {
    content: "\44";
}

.icon-phonebook:before {
    content: "\45";
}

.icon-angle-down:before {
    content: "\46";
}

.icon-tag:before {
    content: "\47";
}

.icon-megaphone:before {
    content: "\48";
}

.icon-users:before {
    content: "\49";
}

.icon-copy:before {
    content: "\4a";
}

.icon-paperclip:before {
    content: "\4b";
}

.icon-bold:before {
    content: "\4c";
}

.icon-italic:before {
    content: "\4d";
}

.icon-strikethrough:before {
    content: "\4e";
}

.icon-send:before {
    content: "\43";
}

.icon-bin-solid:before {
    content: "\4f";
}

.icon-paperplane-filled:before {
    content: "\50";
}

.icon-crown:before {
    content: "\52";
}

.icon-optout:before {
    content: "\53";
}

.icon-templates:before {
    content: "\78";
}

.icon-chatbot:before {
    content: "\79";
}

.icon-angle-up:before {
    content: "\51";
}

.has-error {
    border: 1px solid red;
}

.controlled-width-1 {
    max-width: calc(100% - 100px);
}

.select-attachments .icon-paperclip, .chat-bot .icon-paperclip {
    cursor: pointer;
    font-size: 1.5rem;
}

.select-attachments .thumbs, .chat-bot .thumbs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.select-attachments .thumbs .thumb, .chat-bot .thumbs .thumb {
    /* border: 2px dashed #aaaaaa; */
    border-radius: 4px;
    margin-right: 10px;
    /* margin-top: 5px; */
    cursor: default;
    position: relative;
}

.select-attachments .thumbs .thumb .icon, .chat-bot .thumbs .thumb .icon {
    width: 30px;
    height: 40px;
    background-size: contain;
}

.select-attachments .thumbs .thumb .name, .chat-bot .thumbs .thumb .name {
    width: 45px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.select-attachments .thumbs .thumb .icon-bin, .chat-bot .thumbs .thumb .icon-bin {
    display: none;
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
}

.logoaction {
    color: #ffffff;
    font-weight: 500;
    padding-left: 5px;
    padding-right: 2px;
}

.procrown {
    padding-left: 4px;
    width: 25px !important;
}

.select-attachments .thumbs .thumb:hover .icon-bin, .chat-bot .thumbs .thumb:hover .icon-bin {
    display: initial;
}

.thumbs .thumb.pdf .icon {
    /*background-image: url(../img/file-previews/pdf.jpg);*/
    background-image: url(../img/file-previews/pdf.png);
}

.thumbs .thumb.excel .icon {
    /*background-image: url(../img/file-previews/excel.jpg);*/
    background-image: url(../img/file-previews/excel.png);
}

.thumbs .thumb.audio .icon {
    background-image: url(../img/file-previews/audio.png);
}

.thumbs .thumb.other .icon {
    background-image: url(../img/file-previews/other.png);
}

.thumbs .thumb.video .icon {
    background-image: url(../img/file-previews/video.png);
}

.thumbs .thumb.word .icon {
    background-image: url(../img/file-previews/word.png);
}

.thumbs .thumb.ppt .icon {
    background-image: url(../img/file-previews/ppt.png);
}

.thumbs .thumb.gif .icon {
    background-image: url(../img/file-previews/gif.png);
}

.thumbs .thumb.zip .icon {
    background-image: url(../img/file-previews/zip.png);
}

.thumbs .thumb.apk .icon {
    background-image: url(../img/file-previews/apk.png);
}

.thumbs .thumb.text .icon {
    background-image: url(../img/file-previews/text.png);
}

.contact-excel-filename {
    width: 70px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* .header-links a {
    text-align: center;
    color: #ffffff;
    padding: 15px;
    font-weight: 500;
} */

/* scroll bar */

/* width */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.message-timing-settings, .template-modal, .delete-template-modal, .busy-page-overlay, .inactive-subscription-modal {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #00000056;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
}

.message-timing-settings>div, .template-modal>div, .inactive-subscription-modal>div {
    background-color: #ffffff;
    color: #000000;
    /* height: 400px; */
    width: 350px;
    z-index: 200;
    border-radius: 8px;
}

.message-timing-settings .timer-modal-head, .template-modal .pws-modal-head, .inactive-subscription-modal .pws-modal-head {
    border-bottom: 1px solid #333333;
    padding: 10px;
}

.message-timing-settings .timer-modal-head .title, .template-modal .pws-modal-head .title, .inactive-subscription-modal .pws-modal-head .title {
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
}

.message-timing-settings .timer-modal-content, .template-modal .pws-modal-content, .inactive-subscription-modal .pws-modal-content {
    flex: 1;
    /* background-color: green; */
    padding: 1rem;
}

.message-timing-settings .timer-modal-content .section-title, .template-modal .pws-modal-content .section-title, .inactive-subscription-modal .pws-modal-content .section-title {
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 500;
}

.message-timing-settings .timer-modal-content input[type=text], .template-modal .pws-modal-content input[type=text] {
    font-size: 14px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 22px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 22px;
}

.slider.round:before {
    border-radius: 50%;
}

a.template-link, .no-template {
    width: 200px;
}

a.template-link .actions {
    display: none;
}

a.template-link:hover .actions {
    display: flex;
}

a.template-link:hover, a.template-link:active, a.template-link:visited {
    text-decoration: none;
    color: #017DC0 !important;
}

.groups .lcslt-wrap, .broadcasts .lcslt-wrap {
    width: 100%;
}

.reports-individual td.message {
    width: 150px;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 10px;
}

input[name="contact-country-code"] {
    display: none;
}

span>.iti {
    width: 100px;
    height: 100%;
}

.iti__flag-container {
    width: 100%;
    border: 1px solid #222222;
    border-radius: 2px;
    padding: 0px !important;
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress::-webkit-progress-value {
    background: #28a745;
    border-radius: 6px;
}

progress::-webkit-progress-bar {
    background-color: #eeeeee;
}

.tokenfield.form-control {
    max-height: 60px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0px;
}

.contacts-export {
    display: flex;
    height: calc(100% + 2rem);
    margin-top: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: -1rem;
}

.contacts-export>div:first-child {
    width: 200px;
    background-color: #017DC0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.contacts-export>div:last-child {
    flex: 1;
    background-color: #ffffff;
    /* margin-top: -1rem; */
}

.contacts-export .lcslt-wrap {
    width: 100%;
}

.enhancements {
    padding: 1rem 0rem 1rem 0rem;
    /* margin-top: -1rem; */
    /* margin-left: -1rem; */
    /* margin-right: -1rem; */
    /* margin-bottom: -1rem; */
}

.privacy-enhancements, .addons-enhancements {
    display: flex;
    border: 1px solid #999999;
    border-radius: 4px;
}

.privacy-enhancements>div:first-child, .addons-enhancements>div:first-child {
    width: 100px;
    background-color: #017DC0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chat-bot {
    display: flex;
    /* height: 100%; */
    /* height: calc(100% + 0.5rem); */
    margin-top: -0.25rem;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: -0.25rem;
}

.chat-bot>div:first-child {
    width: 200px;
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    height: 100%;
}

.chat-bot>div:first-child .list {
    flex: 1;
    overflow: auto;
}

.chat-bot>div:first-child .list .rule {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* line-height: 1; */
    /* vertical-align: top; */
    padding: 5px;
    /* height: 30px; */
    cursor: pointer;
}

.chat-bot>div:first-child .list .rule:hover {
    background-color: #eeeeee;
}

.chat-bot>div:first-child .list .rule span:first-child {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.chat-bot>div:first-child .list .rule:hover span:first-child {
    width: calc(100% - 42px);
}

.chat-bot>div:first-child .list .rule span:last-child {
    display: none;
}

.chat-bot>div:first-child .list .rule:hover span:last-child {
    display: inline;
}

.chat-bot>div:last-child {
    flex: 1;
    background-color: #ffffff;
    /* margin-top: -1rem; */
}

.iti__country-list {
    width: 400px;
}

.lc-select-dd-scroll {
    max-height: 100px !important;
}

.msgs-container {
    margin: -1rem;
}

.unread-message {
    display: flex;
    align-items: center;
    padding: .75rem;
    line-height: 1.2;
}

.unread-message:hover {
    background-color: #eeeeeeee;
    cursor: pointer;
}

.unread-message .thumb {
    border-radius: 100%;
    margin-right: 15px;
    width: 30px;
    height: 30px;
}

.unread-message .name {
    font-weight: 500;
    font-size: 12px;
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #017DC0;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

.lds-default {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-default div {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    animation: lds-default 1.2s linear infinite;
}

.lds-default div:nth-child(1) {
    animation-delay: 0s;
    top: 44px;
    left: 37px
}

.lds-default div:nth-child(2) {
    animation-delay: -0.1s;
    top: 33px;
    left: 52px;
}

.lds-default div:nth-child(3) {
    animation-delay: -0.2s;
    top: 17px;
    left: 52px;
}

.lds-default div:nth-child(4) {
    animation-delay: -0.3s;
    top: 7px;
    left: 37px;
}

.lds-default div:nth-child(5) {
    animation-delay: -0.4s;
    top: 17px;
    left: 22px;
}

.lds-default div:nth-child(6) {
    animation-delay: -0.5s;
    top: 33px;
    left: 22px;
}

/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes lds-default {

    0%,
    20%,
    80%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.3rem;
}

.templates {
    height: 130px;
    overflow-y: auto;
}

.template>span:first-child {
    white-space: nowrap;
    overflow: hidden;
    width: 120px;
    text-overflow: ellipsis;
}

.single_image {
    background-repeat: repeat-x;
}

.invalid-numbers {
    position: absolute;
    top: 3px;
    right: 10px;
    width: auto;
    padding: 3px 5px;
    background-color: #ff0000;
    border-radius: 50%;
    color: #ffffff;
    font-weight: 500;
    min-width: 25px;
    text-align: center;
}